@model Agencia.Models.Alojamiento

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alojamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadPersonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadPersonas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudadDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudadDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habitaciones.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitaciones.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoteles.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoteles.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.numeroDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.numeroDocumento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
