@model Agencia.Models.Alojamiento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Alojamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadPersonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadPersonas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudadDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudadDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habitaciones.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitaciones.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoteles.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoteles.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.numeroDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.numeroDocumento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
