@model IEnumerable<Agencia.Models.Alojamiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadPersonas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciudadDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habitaciones.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoteles.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.numeroDocumento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadPersonas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciudadDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitaciones.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoteles.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.numeroDocumento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
