@model Agencia.Models.Reservas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.habitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.habitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudadDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudadDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadPersonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadPersonas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreEmergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEmergencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoEmergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoEmergencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefomoEmergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefomoEmergencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estados.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estados.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |    
    @Html.ActionLink("Regresar", "../Habitaciones/Index", new { @id_habitacion = @Html.DisplayFor(model => model.habitacion), @id_hotel = @Html.DisplayFor(model => model.hotel) })
</div>
    }
</div>
