@model Agencia.Models.Reservas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Detalles de la Reserva</h4>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @ViewBag.nombre_usuario
            @*@Html.DisplayFor(model => model.usuario)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hotel)
        </dt>

        <dd>
            @ViewBag.nombre_hotel
            @*@Html.DisplayFor(model => model.hotel)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.habitacion)
        </dt>

        <dd>
            @ViewBag.nombre_habitacion
            @*@Html.DisplayFor(model => model.habitacion)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudadDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudadDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadPersonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadPersonas)
        </dd>
    </dl>
    <hr />
    <h4>Contacto de emergencia</h4>

    <dl class="dl-horizontal">
        <dt>
            Nombres
            @*@Html.DisplayNameFor(model => model.nombreEmergencia)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEmergencia)
        </dd>

        <dt>
            Apellidos
            @*@Html.DisplayNameFor(model => model.apellidoEmergencia)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoEmergencia)
        </dd>

        <dt>
            Telefono deemergencia
            @*@Html.DisplayNameFor(model => model.telefomoEmergencia)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefomoEmergencia)
        </dd>

        <dt>
            Estado
            @*@Html.DisplayNameFor(model => model.Estados.nombre)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estados.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |    
    @Html.ActionLink("Regresar", "../Habitaciones/Index", new { @id_habitacion = @Html.DisplayFor(model => model.habitacion), @id_hotel = @Html.DisplayFor(model => model.hotel) })
</p>
