@model IEnumerable<Agencia.Models.Reservas>    

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.habitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciudadDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadPersonas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreEmergencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoEmergencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefomoEmergencia)
        </th>
        <th>
            Estado
            @*@Html.DisplayNameFor(model => model.Estados.nombre)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @ViewBag.nombre_usuario
            @*@Html.DisplayFor(modelItem => item.usuario)*@
        </td>
        <td>
            @ViewBag.nombre_hotel
            @*@Html.DisplayFor(modelItem => item.hotel)*@
        </td>
        <td>
            @ViewBag.nombre_habitacion
            @*@Html.DisplayFor(modelItem => item.habitacion)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciudadDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadPersonas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreEmergencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoEmergencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefomoEmergencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estados.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
